spring:
  datasource:
    url: jdbc:mysql://localhost:3306/xs_db?useUnicode=true&characterEncoding=utf8&serverTimezone=UTC
    username: root
    password: 123456
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
  flyway:
    enabled: true

jwt:
  secret: LIEHXRVISayW2fZDeuG/alNnbYLMZyQfbUH2nFweb3M=
  expiration-ms:  86400000    # 24H
  refresh-expiration-ms: 604800000  # 7 days

mybatis-plus:
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl # 打印 SQL 到控制台

